*{
  margin:0;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;  
  padding:20px; 
  justify-content: space-evenly;
  background-color: #f5f6fa;
}
.app__left{
   flex: 0.9;
}
.app__mtop{
  margin-top: 40px;
  margin-bottom: 40px;
}

.app__dropdown {
  background-color: white;
}

.app__header{
  display: flex;  
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}


.app__status{
  display: flex ;
  justify-content: space-between;
}


@media(max-width: 990px){
  .app{
    flex-direction: column;
  }
}