.table{
  margin-top:30px;
  overflow: scroll;
  height: 400px;
}

.table tr{
  display: flex;
  justify-content: space-between;
}

.table td{
  padding: 0.5rem;
}

.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}